/* @media only screen and (max-width: 576px) { */
    
    /* .nav_menu_main {
        height: 23px;
        display:none;
        margin: 0;
    } */

    /* .login_signup {
        width: 80%;
    } */

    /* .nav_menu_split {
        margin: auto 0px auto 0px;
    } */

    /* .main_top {
        width: 100%;
        display: block;
        height: auto;
    } */

    /* .main_image  .main_content {
        width: 50%;
        font-size:small;
    } */
    
    /* .main_content_title {
        width: auto;
    } */
    /* } */
