

/* start responsive  */

@media only screen and (max-width: 1024px) {
    .main_content_title {
        height: auto;
    }
    .nav_menu_split {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_menu {
        display: flex;
        align-items: center;
    }
   
    .main_amazing_title {
        text-align: center;
    }

    .main_amazing_contents {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_amazing_content_right_image {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .main_amazing_content_left {
        width: 80%;
        text-align: center;
    }
   
    .main_amazing_content_left_top {
        font-size: 35px;
    }

    .main_amazing_content_left_bottom {
        font-size: 20px;
    }

    .main_amazing_content_left_top2 {
        font-size: 35px;
    }

    .main_amazing_content_left_bottom2 {
        font-size: 20px;
    }

    .main_amazing_content_right {
        width: 80%;
    }
  
    .main_amazing_content_right_image img {
        width: 90%;
    }

    .main_amazing_contents_contain {
        height: auto;
        margin-top: 20px;
    }

    .main_amazing {
        height: auto;
    }

    .main_amazing_container {
        height: auto;
    }
}

@media only screen and (max-width: 768px)and (min-width: 577px) {

    .main_promo_content_title2 {
        width: 75%;
    }

    .main_promo_container_contents {
        justify-content: center;
    }
    .main_top_content_container_icons {
        display: block;
        height: auto;
    }
    
    .main_content_icon_content {
        margin-top: 10px;
    }

    .main_promo_container_contents1, .main_promo_container_contents2, .main_promo_container_contents3 {
        width: 60%;
        margin-top: 20px;
    }

    .main_promo_content_title1 {
        width: 80%;
    }

    .main_content_title {
        height: auto;
    }
}

.dropdown {
    display: none;
    width: 50px;
    position: relative;
  }

@media only screen and (max-width: 576px) {

    .dropdown-content {
        display: none;
        width: 250px;
      }

    .dropdown {
        display: block;
    }

    .nav_menu_split {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_menu {
        display: flex;
        align-items: center;
    }
    .nav_manu_main_center {
        display: none;
    }

    .login_signup {
        width: 100%;
    }

    .main_top {
        height: auto;
    }

    .main_top_container_contents {
        display: block;
        margin-top: 50px;
    }

    .main_partner {
        height: auto;
    }

    .main_partner_container_content {
        flex-wrap: wrap;
    }

    .main_amazing_title {
        text-align: center;
    }

    .main_amazing_contents {
        display: block;
        width: 100%;
        height: auto;
    }

 

    .main_amazing_content_right_image {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }

    .main_amazing_content_left {
        width: 80%;
        text-align: center;
    }
   

    .main_amazing_content_left_top {
        font-size: 35px;
    }

    .main_amazing_content_left_bottom {
        font-size: 20px;
    }

    .main_amazing_content_right {
        width: 80%;
    }
  
    .main_amazing_content_right_image img {
        width: 90%;
    }

    .main_amazing_contents_contain {
        height: auto;
        margin-top: 20px;
    }

    .main_amazing {
        height: auto;
    }

    .main_amazing_container {
        height: auto;
    }

    .main_promo_container_contents {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main_promo_container_contents1 ,.main_promo_container_contents2 ,.main_promo_container_contents3 {
        width: 60%;
        margin-top: 20px;
    }

    .main_promo_content_title1, .main_promo_content_title3 {
        font-size: 20px;
    }

    .main_promo_content_title2 {
        font-size: 20px;
        width: 80%;
    }
    .main_promo_img1 {
        position: relative;
        right:45px;
    }

    .footer_top_container_contents {
        flex-wrap: wrap;
    }

    .footer_content_icon {
        width: 80%;
    } 

    .footer_top_container_contents3 {
        width: 50%;
    }

    .footer_input {
        width: 70%;
    }

    .footer_input_e {
        height: 20px;
    }

    .footer_input_icon {
        display: flex;
        width: 50%;
        height: 26px;
        align-items: center;
        justify-content: center;
        background-color: #0070BB;
    }

    .footer_input_email {
        width: 100%;
        height: 26px;
        font-family: "Gotham";
    }

    .footer_bottom {
        font-size: 10px;
    }

    .footer_bottom_container_contents {
        flex-wrap: wrap;
    }

    .main_content_icon_content {
        width: 100%;
        margin-right: 10px;
        justify-content: space-between;
    }

 

 

    .footer_content_icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ggplay_icon {
        width: 30%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        text-align: center  ;
    }

    .ggplay_title {
        font-size: 10px;
    }

    .main_content_title {
        height: auto;
        font-size: 40px;
    }

    .footer_line {
        width: 40%;
    }
}
/* end responsive  */