


@font-face {
    font-family: "Gotham";
    src:
        url(../myfonts/BOOK/HomepageBaukasten-Book.ttf);
  }
@font-face {
    font-family: "GothamBold";
    src: url(../myfonts/BOLD/HomepageBaukasten-Bold.ttf);
}

body {
    width: 100%;
    margin: 0;
}

 /* start css nav  */

nav {
    display: flex;
    width: 100%;
    justify-content: center;
} 

.nav_container {
    width: 1240px;
}

.nav_menu {
    display: flex;
    width: 100%;
    height: 140px;
    align-items: center;
    justify-content:space-between;

}

 .nav_menu_main_m {
    font-family: "Gotham";
    font-size: 20px;
    opacity: 0.3;
 }

.nav_menu_main {
    display: flex;
    width: 86.2%;
    justify-content:space-between;
    align-items: center;
}


.nav_menu_split {
    display: flex;
    width: 122px;
    height: 40px;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
}

.nav_menu a {
    color: black;
    text-decoration: none;
}

.nav_manu_main_center {
    display: flex;
    width: 50%;
    justify-content:space-between;
    align-items: center;
}

.login_signup {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    
}

.login_signup button {
    height: 60px;
}

.signup {
    display: flex;
    height: 60px;
    align-items: center;    
    margin-right: 50px;
}

.login {
    font-size: 20px;
    font-family: "Gotham";
    opacity: 0.3;
}

.signup button {
    display: flex;
    align-items: center; 
    font-family: "Gotham";
    font-size: 20px;
    background-color: #13A0FE;
    border : 1px solid #13A0FE;
    border-radius: 5px;
}


.login_signup_line {
    height: 60px;
    margin: 0px 25px;
    border: 1px solid black;
    opacity: 0.3;
}


.menu_icon {
    width: 50px;
    height: 40px;
}


/* end css nav  */

/* start css main  */
main {
    width: 100%;
}

.main_top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #13A0FE;
}

.main_top_container {
    display: flex;
    width: 1240px;
    justify-content:center;
}

.main_top_container_contents {
    display: flex;
    width: 90%;
    margin-top: 34px;
    margin-bottom: 68px;
    justify-content:center;
}

.main_image {
    display: flex;
    justify-content: center;
}

.main_top_content {
    display: flex;
    justify-content:flex-end;
}

.main_top_content_container {
    width: 90%;
    margin-top: 95px;
}

.main_content_title {
    width: 95%;
    height: 113px;
    text-align:left;
    color: white;
    font-family: "Gotham";
    font-size: 48px;
} 

.main_content_title_splitbill {
    background-color: #d8dee2;
    font-family: 'Roboto Slab', serif;
}

.main_content_title_center {
    height: 27px;
    margin-top: 40px;
    color: #FFFFFF;   
    font-family: "Gotham";
    font-size: 28px;
}

.main_top_content_container_icons {
    display: flex;
    width: 400px;
    height: 70px;
    margin-top: 51px;
    justify-content: space-between;
}

.main_content_icon_content {
    display: flex;
    height: 70px;
    width: 178px;
    align-items: center;   
    font-family: "Gotham";
}

.main_content_icon_content img {
    width: 100%;
}

.main_content_icon_content_message div {
    color: #FFFFFF;
    font-family: "Gotham";
}

.main_partner {
    display: flex;
    width: 100%;
    height: 178px;
    background-color: rgba(48, 48, 255, 0.2);
    justify-content: center;
}

.main_partner_container {
    display: flex;
    width: 1240px;
    justify-content: center;
}

.main_partner_container_content {
    display: flex;
    width: 75%;
    justify-content:space-between;
}

.main_partner_image {
    margin-top: 8px;
}

.main_social {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main_social_container {
    display: flex;
    width: 1240px;
    align-items: flex-end;
    justify-content: space-between;
}

.main_social_container_contents {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_social_title {
    width: 53%;
    margin-top: 60px;
    font-family: "GothamBold";
    text-align: center;
    font-size: 48px;
}

.main_social_content {
    width: 78%;
    margin-top: 30px;
    color: #161616;
    font-family:"Gotham";
    font-size: 28px;
    opacity: 0.6;
    text-align: center;
}

.main_social_image {
    margin-top: 30px;
}

.main_amazing {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main_amazing_container {
    display: flex;
    width: 1240px;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}

.main_amazing_title {
    width: 53%;
    margin-bottom: 65px;
    font-family: "GothamBold";
    font-size: 48px;
}

.main_amazing_content_left2 {
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    justify-content: center;
}

.main_amazing_content_left_top {
    font-family: "GothamBold";
    font-size: 48px;
}

.main_amazing_content_left_bottom {
    font-family: "Gotham";
    font-size: 28px;
    opacity: 0.3;
}

.main_amazing_content_left_top2 {
    margin-left: 45px;
    font-family: "GothamBold";
    font-size: 48px;
}

.main_amazing_content_left_bottom2 {
    margin-left: 45px;
    font-family: "Gotham";
    font-size: 28px;
    opacity: 0.3;
}

.main_amazing_content_right2 {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

.main_promo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main_promo_container {
    display: flex;
    width: 1240px;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_promo_title {
    display: flex;
    width: 100%;
    font-family: "GothamBold";
    font-size: 48px;
    justify-content: center;
}

.main_promo_container_contents {
    display: flex;
    width: 90%;
    margin-top: 50px;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
}

.main_promo_container_contents1 {
    display: flex;
    width: 345px;
    height: 436px;   
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #129EFC; 
}


.main_promo_img1 {
    position: relative;
    top:40px;
    right: 86px;
}

.main_promo_img2 {
    position: relative; 
    top:62px;
}

.main_promo_img3 {
    position: relative; 
    top:63px; 
}

.main_promo_container_contents2 {
    display: flex;
    width: 345px;
    height: 436px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FE808C; 
    align-items: center;
}


.main_promo_container_contents3 {
    display: flex;
    width: 345px;
    height: 436px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #65D58D; 
    align-items: center;
}

.main_promo_content_title1 {
    display: flex;
    width: 90%;
    height: 114px;
    position: relative;
    top:40px;
    color: #FFFFFF;
    font-family: "Gotham";
    font-size: 28px;
    text-align: center;
    flex-direction: column;
}

.main_promo_content_title2 {
    width: 90%;
    height: 76px;
    position: relative;
    top: 17px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Gotham";
    font-size: 28px;
}

.main_promo_content_title3 {
    height: 76px;
    width: 100%; 
    position: relative;
    top: 8px;
    color: #FFFFFF;
    font-family: "Gotham";
    font-size: 28px;
    text-align: center;
}

.splitbill  {
    text-decoration-line: underline;
}

.footer_container {
    width: 100%;
    margin-top: 173px;
    color: #FFFFFF   ;
}

.footer_top {
    display: flex;
    width: 100%;
    background-color: #13A0FE;
    justify-content: center;
}

.footer_top_container {
    display: flex;
    width: 1240px;
    margin-bottom: 20px;
    justify-content: center;
}

.footer_top_container_contents {
    display: flex;
    width: 90%;
    margin-top: 84px;
    justify-content: space-between;
}

.footer_top_container_contents1 {
    width: 138px;
    height: 250px;
}

.footer_top_container_contents2 {
    width: 100px;
}
.footer_top_container_contents3 {
    width: 316px;
}

.footer_top_container_contents4 {
    width: 180px;
}

.footer_top_title {
    font-family: "Gotham";
    font-size: 20px;
}

.footer_top_list {
    display: flex;
    width: 100%;
    font-family: "Gotham";
    font-size: 15px;
    flex-direction: column;
}

.list_content {
    margin-top: 10px;
}

.footer_input {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.footer_input_e {
    width: 100%;
    height: 50px;
}

.footer_input_icon {
    display: flex;
    width: 71px;
    height: 56px;
    align-items: center;
    justify-content: center;
    background-color: #0070BB;
}

.footer_top_icons4, .footer_top_icons4_ggplay , .footer_top_icons4_appstore {
    margin-top: 30px;
}

.footer_input_email {
    width: 100%;
    height: 50px;
    font-family: "Gotham";
}

.footer_space {
    height: 30px;
}

.footer_bottom {
    display: flex;
    width: 100%;   
    height: 95px; 
    background-color: #1D2432;
    justify-content: center;
}

.footer_bottom_container {
    display: flex;
    width: 1240px;
    justify-content: center;
}

.footer_bottom_container_contents {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom_right {
    display: flex;
    width: 467px;
    justify-content: space-between;
}

.main_amazing_contents {
    width: 1240px;
    height: 461px;
    margin-bottom: 50px;
    background-color: rgba(18, 158, 252, 0.1);
}

.main_amazing_contents_contain {
    display: flex;
    width: 100%;
    height: 411px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.main_amazing_content_left {
    display: flex;
    width: 598px;
    height: 361px;
    justify-content: center;
    flex-direction: column;
}

.main_amazing_content_right {
    width: 542px;
}
/* end css main  */

/* start css footer  */
footer {
    width: 100%;
}
/* end css footer  */
