
@font-face {
    font-family: "Gotham";
    src:
        url(Gotham-Font/GothamBook.ttf);
  }
@font-face {
    font-family: "GothamBold";
    src: url(Gotham-Font/GothamBold.ttf);
}

body {
    width: 100%;
    margin: 0;
}
 /* start css nav  */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
} 

.nav_container {
    width: 1240px;
}

.nav_menu {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

 .nav_menu_main_m {
    font-size: 20px;
    font-family: "Gotham";
    opacity: 0.3;
 }

.nav_menu_main {
    width: 86.2%;
    display: flex;
    justify-content:space-between;

}


.nav_menu_split {
    width: 122px;
    height: 40px;
    display: flex;
    /* align-items: center; */
    font-family: 'Roboto Slab', serif;
    /* font-weight: bold; */
    font-size: 28px;
}

.nav_menu a {
    text-decoration: none;
    color: black;
}

.nav_manu_main_center {
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.login_signup {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login_signup button {
    height: 40px;
}

.signup {
    margin-right: 50px;
}

.login {
    opacity: 0.3;
    font-size: 20px;
    font-family: "Gotham";
}

.signup button {
    font-size: 20px;
    background-color: #13A0FE;
    border-radius: 5px;
    font-family: "Gotham";
    border : 1px solid #13A0FE;
}


.login_signup_line {
    height: 40px;
    border: 1px solid black;
    margin: 0px 25px;
}
/* end css nav  */

/* start css main  */
main {
    width: 100%;
}

.main_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 600px; */
    background-color: #13A0FE;
}

.main_top_container {
    width: 1240px;
    /* height: 100px; */
    display: flex;
    justify-content:center;
}

.main_top_container_contents {
    display: flex;
    justify-content:center;
    margin-top: 34px;
    margin-bottom: 68px;
    /* text-align: center; */
    width: 90%;
}

.main_image {
    display: flex;
    justify-content: center;
}

.main_top_content {
    display: flex;
    justify-content:flex-end;
    /* align-items: center; */
}

.main_top_content_container {
    /* display: flex; */
    width: 90%;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 95px;
    /* margin-bottom: 50px; */
}


.main_content_icon {
    margin:auto 0;
    display: flex;
    margin-top: 51px;
}

.main_content_icon_content {
    height: 72px;
    width: 180px;
    margin:auto 0;
    margin-right: 40px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
}

.main_content_title {
    font-size: 48px;
    width: 95%;
    text-align:left;
    height: 113px;
    /* text-align: center; */
    color: white;
    font-family: "Gotham";
}

.main_content_title_splitbill {
    background-color: #d8dee2;
}

.main_content_title_center {
    color: #FFFFFF;
    font-size: 28px;
    height: 27px;
    margin-top: 40px;
}

 .appstore {
    border-radius: 5px;
    height: 72px;
    border: 1px solid white;
    margin:auto 0;
    width: 180px;
 }

 .ggplay_title {
    color: #FFFFFF;
    margin: auto 0px auto 10px;
    width: auto;
 }

 .ggplay_icon {
    margin-left: 23px;
    margin-top: 20px;
    width: 26px;
    height: 30px;
 }


.main_partner {
    width: 100%;
    height: 178px;
    background-color: rgba(48, 48, 255, 0.2);
    display: flex;
    justify-content: center;
}

.main_partner_container {
    width: 1240px;
    display: flex;
    justify-content: center;
}

.main_partner_container_content {
    width: 75%;
    display: flex;
    justify-content:space-between;
}

.main_partner_image {
    margin-top: 8px;
}

.main_social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_social_container {
    width: 1240px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main_social_container_contents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_social_title {
    width: 53%;
    text-align: center;
    font-size: 48px;
    font-family: "GothamBold";
    margin-top: 60px;
}

.main_social_content {
    width: 78%;
    font-family:"Gotham";
    font-size: 28px;
    opacity: 0.6;
    color: #161616;
    text-align: center;
    margin-top: 30px;
}

.main_social_image {
    margin-top: 30px;
}

.main_amazing {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_amazing_container {
    width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_amazing_title {
    width: 53%;
    font-size: 48px;
    font-family: "GothamBold";
    margin-top: 82px;
}

.main_amazing_contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    background: rgba(18, 158, 252, 0.1);
    height: 461px;
}

.main_amazing_content_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 28px;
}


.main_amazing_content_left2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.main_amazing_content_left_top {
    font-size: 48px;
    font-family: "GothamBold";
}

.main_amazing_content_right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.main_amazing_content_right2 {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.main_amazing_content_left_bottom {
    font-size: 28px;
    font-family: "Gotham";
    opacity: 0.3;
}

.main_promo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_promo_container {
    width: 1240px;
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_promo_title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
    font-size: 48px;
    font-family: "GothamBold";
}
.main_promo_container_contents {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
}

.main_promo_container_contents1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 436px;
    background-color: #129EFC; 
}


.main_promo_img1 {
    position: relative;
    right: 86px;
    top:40px;
}

.main_promo_img2 {
    position: relative; 
    top:62px;
}

.main_promo_img3 {
    position: relative; 
    top:63px; 
}

.main_promo_container_contents2 {
    background-color: #FE808C; 
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 436px;
}


.main_promo_container_contents3 {
    background-color: #65D58D; 
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 436px;
}

.main_promo_content_title1 {
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    font-family: "GothamBold";
    height: 114px;
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    top:40px;
}

.main_promo_content_title2 {
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    font-family: "GothamBold";
    height: 76px;
    width: 90%;
    position: relative;
    top: 17px;
}

.main_promo_content_title3 {
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    font-family: "GothamBold";
    height: 76px;
    width: 100%; 
    position: relative;
    top: 8px;
}

.splitbill  {
    text-decoration-line: underline;
}

.footer_container {
    margin-top: 173px;
    width: 100%;
    color: #FFFFFF   ;
}

.footer_top {
    width: 100%;
    background-color: #13A0FE;
    display: flex;
    justify-content: center;
}

.footer_top_container {
    width: 1240px;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.footer_top_container_contents {
    width: 90%;
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
}

.footer_top_container_contents1 {
    width: 138px;
    height: 250px;
}

.footer_top_container_contents2 {
    width: 100px;
}
.footer_top_container_contents3 {
    width: 316px;
}

.footer_top_container_contents4 {
    width: 180px;
}

.footer_top_title {
    font-size: 20px;
    font-family: "Gotham";
}

.footer_top_list {
    width: 100%;
    font-size: 15px;
    font-family: "Gotham";
    display: flex;
    flex-direction: column;
}

.list_content {
    margin-top: 10px;
}

.footer_input {
    width: 100%;
    display: flex;
}

.footer_input_e {
    width: 100%;
    height: 50px;
}

.footer_input_icon {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    width: 71px;
    background-color: #0070BB;
}

.footer_input_email {
    width: 100%;
    font-family: "Gotham";
    height: 50px;
}

.footer_space {
    height: 30px;
}

.footer_bottom {
    width: 100%;   
    height: 95px; 
    background-color: #1D2432;
    display: flex;
    justify-content: center;
}

.footer_bottom_container {
    width: 1240px;
    display: flex;
    justify-content: center;
}

.footer_bottom_container_contents {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom_right {
    width: 467px;
    display: flex;
    justify-content: space-between;
}
/* end css main  */

/* start css footer  */
footer {
    width: 100%;
}
/* end css footer  */

/* start responsive  */
@media only screen and (max-width: 576px) {
    .nav_menu_split {
        margin-right: 60px;
    }
    .nav_manu_main_center {
        display: none;
    }

    .login_signup {
        width: 100%;
    }

    .main_top {
        height: auto;
    }

    .main_top_container_contents {
        display: block;
        margin-top: 50px;
    }

    .main_partner {
        height: auto;
    }

    .main_partner_container_content {
        flex-wrap: wrap;
    }

    .main_amazing_title {
        text-align: center;
    }

    .main_amazing_contents {
        height: auto;
        flex-wrap: wrap;
    }

    .main_promo_container_contents {
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main_promo_container_contents1 ,.main_promo_container_contents2 ,.main_promo_container_contents3 {
        margin-top: 20px;
        width: 60%;
    }

    .main_promo_content_title1, .main_promo_content_title3 {
        font-size: 20px;
    }

    .main_promo_content_title2 {
        font-size: 20px;
        width: 80%;
    }
    .main_promo_img1 {
        position: relative;
        /* top:0; */
        right:45px;
    }

    .footer_top_container_contents {
        flex-wrap: wrap;
    }

    .footer_content_icon {
        width: 80%;
    } 

    .footer_top_container_contents3 {
        width: 50%;
    }

    
    .footer_input {
        width: 70%;
    }

    .footer_input_e {
        height: 20px;
    }

    .footer_input_icon {
        display: flex;
        height: 26px;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: #0070BB;
    }

    .footer_input_email {
        font-family: "Gotham";
        width: 100%;
        height: 20px;
    }

    .footer_bottom {
        /* height: auto; */
        font-size: 10px;
    }

    .footer_bottom_container_contents {
        flex-wrap: wrap;
    }

    .main_content_icon_content {
        width: 100%;
        margin-right: 10px;
        justify-content: space-between;
    }

    .ggplay_icon {
        margin-left: 0;
        width: 30%;
        justify-content: center;
        align-items: center;
        text-align: center  ;
    }

    .ggplay_title {
        font-size: 10px;
    }

    .main_content_icon {
        width: 70%;
        justify-content: space-between;
        align-items: center;
    }

    .main_content_title {
        height: auto;
        font-size: 40px;
    }

    .footer_line {
        width: 40%;
    }
}
/* end responsive  */